.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent; /* now transparent by default */
    z-index: 99;
    transition: background-color 300ms ease;
  }
  
  .navbar-container {
    max-width: 1200px;   
    margin: 0 auto;      /* Centers the container */
    padding: 20px 100px; /* Padding to create spacing on left and right */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar.scrolled {
    background-color: black; 
}
  
  .navbar-brand {
    display: flex;
    flex-direction: row; 
    align-items: center;
  }
  
  .navbar-logo {
    height: 40px;        /* Adjust as needed */
    margin-right: 10px; 
    margin-left: -50px;  /* Space between the logo and title */
  }
  
  .navbar-title {
    color: white;
    margin: 0;
    margin-right: 250px;
    text-shadow: 1px 1px 2px black;
  }
  
  
  .navbar-navigations {
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    transition: color 200ms ease;
    text-shadow: 1px 1px 2px black;
  }
  
  .navbar-navigations::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s;
  }
  
  .navbar-navigations:hover::after {
    transform: scaleX(1);
  }
  
  .navbar-navigations:hover {
    color: #BADDFF;
  }
  .navbar-navigations,
.navbar-navigations.logout-button {
  position: relative;
  display: inline-block; /* ensures width matches the link */
  color: white;
  text-decoration: none;
  margin-left: 10px;
  padding: 0;
  background: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  transition: color 200ms ease;
  text-shadow: 1px 1px 2px black;
}

/* Underline effect */
.navbar-navigations.logout-button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navbar-navigations.logout-button:hover::after {
  transform: scaleX(1);
}

.navbar-navigations.logout-button:hover {
  color: #BADDFF;
}

.navbar-navigations.active {
  /* Change the color or add any styling for the active link */
  color: #BADDFF;
}

.navbar-navigations.active::after {
  transform: scaleX(1);
}